:root {
	--c-black: rgb(11, 11, 11);
	--c-black20: rgba(11, 11, 11, 0.20);

	--c-gray-dark: rgb(34, 36, 38);
	--c-gray-dark80: rgba(34, 36, 38, 0.80);

	--c-gray-medium: rgb(54, 58, 61);

	--c-gray-light: rgb(191, 191, 191);
	--c-gray-light10: rgba(191, 191, 191, 0.10);

	--c-white: rgb(250, 250, 250);
	--c-white50: rgba(250, 250, 250, 1);

	--c-accent: rgb(7, 172, 85);
	--c-danger: rgb(217,83,79);
	--c-success: rgb(92,184,92);

	--c-gradient-primary: 'linear-gradient(253deg, #A8FF78, #78FFD6)';
	--c-gradient-danger: 'linear-gradient(253deg, #FF4B2B, #FF416C)';
	--c-gradient-plain: 'linear-gradient(253deg, #cccccc30, #cccccc10)';
}
