.authentication-component {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-black);
}

.authentication__active-space {
  position: relative;

  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 600px;

  border-radius: 10px;
  background-color: #1D1E20;
}

.authentication__body {
  position: absolute;
  right: 0;

  width: calc(100% - 265px);
  height: 100%;

  padding: 0px 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication__sidebar_mobile {
  position: absolute;
  bottom: 0;

  width: 100%;
  display: none;
}

.authentication__form {
  position: relative;
  height: 100%;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.authentication__button_submit { 
  margin-top: 50px;
}

.authentication__background_icon {
  position: absolute;
  color: var(--c-gray-light10);
  bottom: 0px;
  right: 30px;

  font-size: 220px;
}


@media only screen and (max-width: 700px) {
  .authentication__active-space {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }

  .authentication__body {
    width: 100%;
    padding: 0px 20px;
  }

  .authentication__sidebar {
    display: none;
  }

  .authentication__sidebar_mobile {
    display: initial;
  }

  .authentication__form {
    width: 85%;
  }

  .authentication__button_submit { 
    position: absolute;
    bottom: 80px;
    width: 100%;
  }
}

@media only screen and (max-width: 325px) {
  .authentication__logo_mobile {
    display: none;
  }
}