.tournaments-grid { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	justify-content: center;
}

@media screen and (min-width: 824px) {
	.tournaments-grid { 
		grid-template-columns: repeat(auto-fill, minmax(350px, 0.5fr));
	}
}

@media screen and (min-width: 1800px) {
	.tournaments-grid { 
		grid-template-columns: repeat(auto-fill, minmax(450px, 0.7fr));
		grid-gap: 30px;
	}
}
