@import './styles/helpers.css';
@import './styles//colors.css';

#root {
  background: var(--c-black);
  height: 100vh;
  overflow-y: scroll;

  color: var(--c-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/* EXAMPLE OF USING GRID - NOT USED ANYWHERE */
/* .gridz {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px auto;
  grid-template-columns: 220px auto;
  grid-template-areas:  "apptitle topbar"
                        "sidebar content"
}

.gridz-apptitle {
  grid-area: apptitle;
  background-color: #222426;
  color: #eee;
}

.gridz-sidebar {
  grid-area: sidebar;
}
.gridz-topbar {
  grid-area: topbar;
}
.gridz-content {
  overflow-y: scroll;
  grid-area: content;

  background-color: #0B0B0B;

  padding: 20px;
}


@media screen and (max-width: 800px) {
  .gridz {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px, auto;
    grid-template-columns: auto;
    grid-template-areas:  "topbar"
                          "content"
  }

  .gridz-sidebar {
    position: absolute;
    height: 100vh;
    left: -300px;
  }
  .gridz-apptitle { display: none; }
} */

/* END OF EXAMPLE OF USING GRID - NOT USED ANYWHERE */
