@import './styles/helpers.css';
@import './styles//colors.css';

#root {
  background: var(--c-black);
  height: 100vh;
  overflow-y: scroll;

  color: var(--c-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
