/* Variables */
:root {
  --col-main: #eee;
}

#root {
  /* width: 100vw; */
  height: 100vh;

  display: flex;
  justify-content: center;
  /* align-items: center; */

  background: white;  /* Chrome 10-25, Safari 5.1-6 */

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Margins */
.tight-margin-top { margin-top: 10px }
.tight-margin-right { margin-right: 10px }
.tight-margin-bottom { margin-bottom: 10px }
.tight-margin-left { margin-left: 10px }

.margin-top { margin-top: 30px }
.margin-right { margin-right: 30px }
.margin-bottom { margin-bottom: 30px }
.margin-left { margin-left: 30px }

.wide-margin-top { margin-top: 50px }
.wide-margin-right { margin-right: 50px }
.wide-margin-bottom { margin-bottom: 50px }
.wide-margin-left { margin-left: 50px }



/* Misc */
.card-look {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
